<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
   <style>
        body {
            background: #00bfa5;
            color:white;
            text-align:center;
            font-size:15px;
            
            .description {
                font-size:15px;
            }
        }

   </style>
</head>
<body>
    <nav>
    <div class="nav-wrapper orange lighten-2">
          <a href="/" class="brand-logo center">Parks and Rec Gifs</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/characters">Characters</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
          </ul>
        </div>
     </nav>
   <div class="container">
       <h1>About</h1>
       <h3 class="description">The purpose of this website is to be remind or make people acknowledge how amazing Parks and Rec is. Every character is different and
       relateable in some way, no matter how you currently feel, which is why they each deserve their own page of GIFs.
       It's also my favorite show, which made this final enjoyable.</h3>
       
       <img src="https://media.giphy.com/media/5yLgocdBwy0leJe89R6/giphy.gif">
   </div>
   
</body>