<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <style>
        body {
            background: #00bfa5;
            color:white;
            text-align:center;
            
            .pics {
                width:250px;
                height:250px;
            }
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper orange lighten-2">
          <a href="/" class="brand-logo center">Parks and Rec Gifs</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/characters">Characters</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
          </ul>
        </div>
     </nav>
     
   <div class="pictures">
       <h1>Extras</h1>
       <img class="pics" src="https://media.giphy.com/media/pKuB4CHKseVAk/giphy.gif">
       <img class="pics" src="https://img.buzzfeed.com/buzzfeed-static/static/2014-12/13/21/campaign_images/webdr06/so-the-cast-of-parks-and-rec-will-totally-make-yo-2-15560-1418523362-7_dblbig.jpg">
       <img class="pics" src="https://media.giphy.com/media/TZQLewrCibGU0/giphy.gif">
       <img class="pics" src="https://www.indianapolismonthly.com/wp-content/uploads/sites/3/2015/02/ParksandRec-Gif-4.gif">
       <img class="pics" src="https://media.giphy.com/media/sCjTDxxo7BD9K/giphy.gif">
   </div>
</body>