<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
   
   <style>
       body {
           background: #00bfa5;
           color:white;
           text-align:center;
       }
   </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper orange lighten-2">
          <a href="/" class="brand-logo center">Parks and Rec Gifs</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/characters">Characters</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
          </ul>
        </div>
     </nav>
     
    
       <h1>Welcome to Pawnee!</h1>
       <h3>Go to "Characters" to get to know some of the locals, with GIFs!</h3>
       <img src="https://i.pinimg.com/originals/4a/2a/0f/4a2a0fe401222e1e7fe3f1a5f8060444.png">
   </div>
</body>