<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
</head>
<body>
    <nav>
    <div class="nav-wrapper teal lighten-1">
          <a href="/" class="brand-logo center">Parks and Rec Gifs</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/characters">Characters</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
     </nav>
   <div class="container">
       <h1>Results</h1>
       <ol></ol>
       <% data.forEach(function(group){ %>
            <li>
                <%= group[0] %> and <%= group[1]%> 
                are giving gifts to eachother.
            </li>
       <% }) %>
       </ol>
   </div>
</body>